@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.gridMainContainer {
  margin: auto;
  max-width: 1360px;
  width: 1360px;
}
.gridContainer {
  padding: 0 30px;
}

@media only screen and (max-width: 1440px) {
  .gridMainContainer {
    max-width: 1080px;
    width: 1080px;
  }
}
@media only screen and (max-width: 1200px) {
  .gridMainContainer {
    max-width: 100%;
    width: 100%;
  }
}
